[Unit]
Description=NYILSRV Client
After=network.target

[Service]
Type=simple
ExecStart=/opt/nyilsrv-client/venv/bin/python /opt/nyilsrv-client/client.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
