[Unit]
Description=NYILSRV Client Agent
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 /opt/nyilclient/client.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
