[Unit]
Description=NYILSRV Client
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/nyilsrv-client/client.py
Restart=always
User=pi
WorkingDirectory=/opt/nyilsrv-client

[Install]
WantedBy=multi-user.target
