[Unit]
Description=NYILSRV Server
After=network.target

[Service]
WorkingDirectory=/root/nyilsrv/server
ExecStart=/root/nyilsrv/server/venv/bin/python app.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
