[Unit]
Description=NYILSRV Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/nyilsrv
ExecStart=/opt/nyilsrv/venv/bin/python app.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
